/env.bat
.settings
/platform/validation-service/*.db
/platform/validation-service/.sts4-cache/classpath-data.json
.DS_Store
.idea
/tests/.gradle/
/tests/build/
/tests/.idea
target/

*.iml
*.log
*.db
*.run.xml
